body {
  background-color: #076324;
  color: #fff;
}

.context-menu {
  position: absolute;
  background-color: bisque;
}

.context-menu ul {
  list-style: none;
  padding: 0 10px;
}

.context-menu li {
  margin-bottom: 10px;
}

.in-turn {
  color: #f1fb6e;
}

.not-in-turn {
  opacity: 0.5;
}

button:disabled img {
  filter: grayscale(100%);
}

.drag-n-drop {
  border: 1px solid #fff;
  margin: 10px;
  border-radius: 7px;
}

.drag-n-drop div {
  display: inline-block;
}

button {
  cursor: pointer;
}
