body {
  background-color: #076324;
  color: #fff;
}

.context-menu {
  position: absolute;
  background-color: bisque;
}

.context-menu ul {
  list-style: none;
  padding: 0 10px;
}

.context-menu li {
  margin-bottom: 10px;
}

.in-turn {
  color: #f1fb6e;
}

.not-in-turn {
  opacity: 0.5;
}

button:disabled img {
  opacity: 0.3;
}

.drag-n-drop div {
  display: inline-block;
}
